/* Element selectors */

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url(../assets/forest-backgroud.jpg);
    color:black;
    margin-left: 5%;
    margin-right: 5%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color:rgba(236, 42, 42, 0.8);
    color: black;
    border: white;
    border-radius: 5%;
    padding: 1%;
    text-align: center;
    margin-bottom: 2%;
}

footer {
    margin-top:40%;
}

/* ID Selectors */

nav {
    display: flex;
    justify-content:space-between;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: #55505C;
    color: white;
    border-radius:5%;
    margin-bottom: 2%;
}

nav ul {
    list-style-type: none;
    margin-right: 7.5%;
}

nav li {
    color:white;
}

nav li a {
    display: block;
    color: black;
    text-align: center;   
}

#profile-image {
  width: 20%;
  height:auto;  
  border: #55505C;
  border-radius: .5%;
  display: block;
  width: 40%;
}

/* Class Selectors */

.maincontent {
    display: flex;
    flex-wrap: wrap;
}
.whitebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 5%;
    margin-bottom: 5%;
}

.whitebox h2, h3 {
    text-align: center;
    margin-bottom: .5%;
}

.whitebox p {
    margin-left: 10%;
    margin-right: 10%;
    text-indent: 5%;
}

.redbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(236, 42, 42, 0.8);
    color: black;
    border-radius:5%;
    list-style-type: none;
    margin-bottom: 2%;
    margin-top: .5%;
}

.redbox h2 {
    text-align: center;
    margin-bottom: .5%;
}

.redbox p {
    margin-left: 10%;
    margin-right: 10%;
    text-indent: 5%;
}
.profimagetext {
    display: flex;
}
